.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* For WebKit browsers (Chrome, Safari) */
/* Modify these styles to fit your design preferences */

/* Dark background for the track */
::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a; /* Adjust background color as needed */
}

/* Dark color for the scrollbar handle/thumb */
::-webkit-scrollbar-thumb {
    background-color: #333; /* Adjust thumb color as needed */
    border-radius: 6px;
}

/* Dark background for the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Adjust track color as needed */
}

